.proba {
  position: sticky;
  right: 0;
  clear: right;
}
.list-group-item {
  display: inline-flex;
}
.input-group {
  display: contents;
}
.mb-3,
.my-3 {
  margin-bottom: 0 !important;
}
.card-div {
  display: flex;
}
